
@if(!checkBE){
<app-loader></app-loader>
}@else {
<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
  >
    <section>
      <span class="block text-6xl font-bold mb-1">Create Your Records</span>
      <div class="text-6xl text-primary font-bold mb-3">
        Ledger: The Modern Accounting Platform.
      </div>

      <p class="tmt-0 mb-4 text-700 line-height-3">
        You Deserve To Experience This.
      </p>
      <button
        pButton
        pRipple
        label="Sign Up"
        type="button"
        class="mr-3 p-button-raised"
        routerLink="/signup"
      ></button>
      <button
        pButton
        pRipple
        label="Login"
        type="button"
        class="p-button-outlined"
        routerLink="/login"
      ></button>
    </section>
  </div>
  <div
    class="col-12 md:col-6 overflow-hidden hidden md:block  lg:block"
    style="height: 100vh"
  >
    <img
      src="https://res.cloudinary.com/diiyyfb8t/image/upload/e_improve:outdoor/ledger_home_bg.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full image"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>

}
