<div class="mt-2 md:mt-3 p-3">
    <p-card header="{{user.name}}'s Customers">
        <p class="m-0"></p>

        <div class="mt-2 md:mt-3 p-3">
            @if (customers && customers.length==0){
            <div class="flex-column justify-content-center text-align-center" style="text-align: center;">
                <div>
                    <p>Please add Customers</p>
                </div>

                <div>
                    <p-button label="Add Customer" [raised]="true" (click)="showAddDialog()" />
                </div>
            </div>
            <!-- <app-add-customers [visible]="visible"></app-add-customers> -->
            <div class="card flex justify-content-center">
                <app-add-customers [(visible)]="addVisible" [user]="user" [avatar_image]="avatar_image"
                    (saveCustomer)="saveCustomer($event)"></app-add-customers>
            </div>
            }@else if(customers==null){
            <p-dataView #dv [value]="customers">
                <ng-template pTemplate="header">
                    <p>Data Lading, Please Wait...</p>
                </ng-template>
                <ng-template pTemplate="list" let-products>
                    <div class="grid grid-nogutter">
                        <div class="col-12" *ngFor="let i of counterArray(6); let first = first" class="col-12">
                            <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
                                [ngClass]="{ 'border-top-1 surface-border': !first }">
                                <p-skeleton
                                    styleClass="w-9 sm:w-16rem xl:w-10rem h-6rem block xl:block mx-auto border-round" />
                                <div
                                    class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                                        <p-skeleton styleClass="w-8rem border-round h-2rem" />
                                        <p-skeleton styleClass="w-6rem border-round h-1rem" />
                                        <div class="flex align-items-center gap-3">
                                            <p-skeleton styleClass="w-6rem border-round h-1rem" />
                                            <p-skeleton styleClass="w-3rem border-round h-1rem" />
                                        </div>
                                    </div>
                                    <div
                                        class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                                        <p-skeleton styleClass="w-4rem border-round h-2rem" />
                                        <p-skeleton shape="circle" styleClass="w-3rem h-3rem" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
            }@else{
            <div class="card">
                <p-button label="Add Customer" class="pi pi-add-user mb-2" (onClick)="showAddDialog()" />
                <div class="card flex justify-content-center">
                    <app-add-customers [(visible)]="addVisible" [user]="user" [avatar_image]="avatar_image"
                        (saveCustomer)="saveCustomer($event)"></app-add-customers>
                    <app-edit-customers [(visible)]="editVisible" [user]="user" [avatar_image]="avatar_image"
                        (editCustomer)="editCustomer($event)" [customer]="customer_data"></app-edit-customers>
                </div>
                <div class="table-container">
                    <p-table [value]="customers" #customer [rows]="5" [rowsPerPageOptions]="[5, 10, 50]"
                        [paginator]="true" [globalFilterFields]="['name']" responsiveLayout="stack"
                        [breakpoint]="'1180px'" [tableStyle]="{'min-width': '15rem'}" [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                        <ng-template pTemplate="caption">
                            <div class="flex align-items-center justify-content-between">
                                <span class="p-input-icon-right">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" class="w-12rem" [(ngModel)]="searchValue"
                                        placeholder="Search keyword" (input)="onSearch($event)" />
                                </span>
                                <p-button icon="pi pi-refresh" (onClick)="getCustomer()" />
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Debit</th>
                                <th>Income</th>
                                <th style="width:10rem">Action</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-customer>
                            <tr>
                                <td class="wrap-content"> <span class="p-column-title">Name</span>{{ customer.name }}
                                </td>
                                <td class="wrap-content"> <span class="p-column-title">Email</span>{{ customer.email ||
                                    "email not updated" }}</td>
                                <td class="wrap-content"> <span class="p-column-title">Expense</span>{{
                                    customer.total_expense||0 }}</td>
                                <td class="wrap-content"> <span class="p-column-title">Income</span>{{
                                    customer.total_income||0 }}</td>
                                <td>
                                    <p-button class="mr-2" icon="pi pi-file-edit" severity="warning" pTooltip="edit"
                                        (onClick)="showEditDialog(customer)" />
                                    <p-button icon="pi pi-expand" pTooltip="expand"
                                        (click)="navigateToTransction(customer)" />
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            }
        </div>
    </p-card>
</div>