<div class="mt-2 md:mt-3 p-3">
    <p-card header="{{ user.name }} : {{ customer.name }}">
        <div class="grid">
            <div class="lg:col-1"></div>
            <div class="col-12 md:col-6 lg:col-4" >
                <p-card >
                    <ul class="list-none p-0 m-0">
                        <li class="flex items-center">
                            <span class="text-900 font-medium mr-2 label-width">Name</span>
                            <span class="text-600">{{ customer.name }}</span>
                        </li>
                        <li class="flex items-center">
                            <span class="text-900 font-medium mr-2 label-width">Email:</span>
                            <span class="text-600">{{ customer.email ||'not updated'}}</span>
                        </li>
                        <li class="flex items-center">
                            <span class="text-900 font-medium mr-2 label-width">GST No.:</span>
                            <span class="text-600">{{ customer.gst_no || 'not updated' }}</span>
                        </li>
                        <li class="flex items-center">
                            <span class="text-900 font-medium mr-2 label-width">Phone No.:</span>
                            <span class="text-600">{{ customer.phone_no || 'not updated' }}</span>
                        </li>
                        <li class="flex items-center mt-2">
                            <span class="ml-3 mr-3">
                                <p-button icon="pi pi-pen-to-square" raised="true" severity="secondary"></p-button>
                            </span>
                            <span>
                                <p-button icon="pi pi-trash" text="true" raised="true" severity="danger"></p-button>
                            </span>
                        </li>
                    </ul>
                </p-card>
            </div>
            <div class=" lg:col-1"></div>
            <div class="col-12 md:col-6 lg:col-5">
                <p-card header="Final Summary">
                    <div class="flex flex-column md:flex-row">
                        <div class="w-full md:w-5 flex align-items-center justify-content-center  ">
                            <p class="text-4xl md:text-7xl text-green-500">{{income||0}}</p>
                            <p class="text-600">Total Income</p>
                        </div>
                        <div class="w-full ">
                            <p-divider layout="vertical" styleClass="hidden md:flex">
                                <b>AND</b>
                            </p-divider>
                            <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'">
                                <b>AND</b>
                            </p-divider>
                        </div>
                        <div class="w-full md:w-5 flex align-items-center justify-content-center  ">
                            <p class="text-4xl md:text-7xl text-red-500">{{expense||0}}</p>
                            <p class="text-600">Total Expense</p>
                        </div>
                    </div>
                </p-card>
            </div>

        </div>

        <ng-container *ngIf="!transactions || transactions.length === 0; else transactionsBlock">
            <div class="flex-column justify-content-center text-align-center pt-4">
                <h2>Add Transaction First</h2>
                <p-button label="Add Transaction" raised="true" (onClick)="showAddDialog()"></p-button>
                <app-add-transaction [(visible)]="addTransactionVisible" [customer]="customer" [user]="user"
                    (addTransaction)="createTransaction($event)"></app-add-transaction>
            </div>
        </ng-container>

        <ng-template #transactionsBlock>
            <div class="card mt-5 pt-4">
                <div class="mb-3">
                    <p-button label="Add Transaction" raised="true" (onClick)="showAddDialog()"></p-button>
                    <app-add-transaction [(visible)]="addTransactionVisible" [customer]="customer" [user]="user"
                        (addTransaction)="createTransaction($event)"></app-add-transaction>
                </div>
                <p-table [value]="transactions" [tableStyle]="{ 'min-width': '15rem' }" [rows]="5"
                    [rowsPerPageOptions]="[5, 10, 50]" [paginator]="true" responsiveLayout="stack"
                    [breakpoint]="'1180px'">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th style="width:10rem">Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-transaction>
                        <tr>
                            <td> <span class="p-column-title">Type</span><p-tag [value]="transaction.type"
                                    [severity]="getSeverity(transaction.type)"></p-tag></td>
                            <td> <span class="p-column-title">Amount</span>{{ transaction.amount }}₹</td>
                            <td> <span class="p-column-title">Desc</span>{{ transaction.description }}</td>
                            <td> <span class="p-column-title">Date</span>{{ transaction.date | date: 'dd/MM/yyyy' }}
                            </td>
                            <td>
                                <p-button class="mr-2" icon="pi pi-file-edit" severity="warning" pTooltip="edit" />
                                <p-button icon="pi pi-expand" pTooltip="expand" />
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>
    </p-card>
</div>