<div
  class="flex justify-content-center align-items-center align-content-center"
  style="height: 100vh"
>
  <div
    class="surface-card p-4 shadow-2 border-round lg:w-6"
    style="min-width: 20rem; text-align: center"
  >
    <div class="card flex justify-content-center">
      <div class="flex flex-column align-items-center">
        <div class="font-bold text-xl mb-2">Validate Your Account</div>
        <p class="text-color-secondary block mb-5">
          Please enter the code sent to your phone.
        </p>
        <p-inputOtp [(ngModel)]="value" [integerOnly]="true" [length]="6" />
        <div class="flex justify-content-between mt-5 align-self-stretch">
          <p-button
            label="Resend Code"
            [link]="true"
            class="p-0"
            (onClick)="resendOtp()"
          />
          <p-button label="Submit Code" (onClick)="verifying(value)" />
        </div>
      </div>
    </div>
  </div>
</div>
