.p-error {
  color: red;
}
.p-field.p-error .p-inputtext {
  border-color: red !important;
}

.p-input-icon-left i {
  z-index: 2;
}

.p-dialog {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
}